.error {
    color: #c00;
}

input {
    border: 1px solid black;
    width: 200px;
    margin-bottom: 1em;
}

label {
    display: block;
}

#login {
    width: auto;
}

fieldset {
    border: 1px solid black;
    width: 232px;
}

.submit {
    text-align: right;
}

.error_message {
    font-size: .8em;
}

.help {
   display: inline;
   position: relative;
}

.help_text {
   display: none;
   position: absolute;
   top: 10px;
   left: 10px;
   border: 1px solid black;
   padding: 3px;
   background-color: white;
}

.help:hover .help_text {
   display: block;
}
